@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,400;1,500&display=swap');

body {
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(242, 239, 239);
}

input {
    color: #fff;
    padding: 20px;
    outline: none;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 500%;


}

form {
    background: blue;
    border-radius: 25px;
    height: 390px;
    display: inline-block;
}

.maincolor {
    background-color: rgb(2, 2, 2);
    margin: 1px;
    
}

.num {
    width: 64px;
    height: 67px;
}

.text {
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}

.text1 {
    width: 30px;
    height: 29px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 50%;
    cursor: pointer;


}

.main {
    display: inline-block;
}

.blue {
    background-color: #0cd0cd;
    
}

.pin {
    background-color: #cf1596;
}

.gre {
    background-color: #aad800;
}

.pur {
    background-color: #9c52f0;
}

.ora {
    background-color: #fcb707;
}
